body {
    --sanseer-journals-black: #000000;
    --sanseer-journals-text-shadow: #00000090;
    --sanseer-journals-image-shadow: #808080;
    --sanseer-journals-template-header-color: #d9d7c8;
    --sanseer-journals-button-hover-color: #d69e07;
    --sanseer-journals-folder-select-bg-color: #5c87b9;
    --sanseer-journals-header-text-color: #696969;
    --sanseer-hournals-tooltip-background: #29343d;
    --sanseer-journals-color-shadow-highlight: #ffa500;
    --sanseer-journals-background-texture-image: url('../textures/journal-bg.png');

    font-family: Signika;
    font-size: 14px;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

.sanseer-journals blockquote {
    margin: 1rem 0.5rem 0.5rem;
    background: rgba(214, 150, 0, 0.4);
    border: 1px solid var(--sanseer-journals-button-hover-color);
    box-shadow: inset 0 0 5px var(--sanseer-journals-black);
    position: relative;
    padding-right: 0.3rem;
    border-radius: 5px;
}

.sanseer-journals blockquote::after {
    content: "❝";
    position: absolute;
    z-index: 1;
    left: 50%;
    top: -2px;
    transform: translate(-50%, -50%);
    width: 1.2em;
    height: 1.2em;
    background: white;
    box-shadow: 0 4px 5px -1px hsla(0 0% 0% / 20%);
    border-radius: 50%;
    display: grid;
    place-content: center;
    padding-top: 0.5em;
    font-size: 18px;
    font-style: normal;
    text-indent: 0;
}

.sanseer-journals hr {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(217, 215, 200, 0.75), rgba(0, 0, 0, 0));
    border: 0;
    height: 1px;
    margin: 1rem;
}

.sanseer-journals table {
    background-color: transparent;
    border-spacing: 5px;
    color: var(--sanseer-journals-template-header-color);
    font-family: Signika;
    text-align: justify;
}

.sanseer-journals td {
    border: 1px solid var(--sanseer-journals-image-shadow);
    border-radius: 5px;
    padding: 8px;
    vertical-align: top;
    width: 50%;
}

.sanseer-journals td img {
    border: 0;
    margin-left: -5px;
}

.sanseer-journals img {
    border: 0;
}

.sanseer-journals h1,
.sanseer-journals h2,
.sanseer-journals h3,
.sanseer-journals h4 {
    border: 0;
    color: #f34d1f;
    margin: 0;
    text-shadow: 0 0 8px var(--sanseer-journals-text-shadow);
}

.sanseer-journals ul {
    list-style: none;
}

.sanseer-journals li {
    color: var(--sanseer-journals-template-header-color);
}

.sanseer-journals ul li::before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: '\f3a5';
    color: #b0c4de;
    padding: 0 8px 0 0;
    font-size: 0.7em;
    text-shadow: 0 0 5px var(--sanseer-journals-text-shadow);
}

.sanseer-journals .journal-base {
    margin: 0.5rem;
}

.sanseer-journals .journal-header {
    color: var(--sanseer-journals-template-header-color);
    padding: 10px 10px;
    background: rgba(255, 255, 255, 0.05);
    border: 1px solid var(--sanseer-journals-black);
    box-shadow: 0 0 4px #666 inset;
    margin-bottom: 0.5rem;
}

.sanseer-journals .journal-content {
    color: var(--sanseer-journals-template-header-color);
    padding: 3px 10px;
    line-height: 20px;
    background: rgba(0, 0, 0, 0.05);
    border: 1px solid #555;
    box-shadow: 0 0 2px var(--sanseer-journals-black);
    margin-bottom: 0.5rem;
}

.sanseer-journals .journal-image {
    border-radius: 50%;
    border: 2px solid black;
    box-shadow: 0 0 12px var(--sanseer-journals-image-shadow);
}

.sanseer-journals .journal-image-margin {
    margin-left: 1rem;
    margin-top: 1rem;
}

.sanseer-journals .journal-image-places {
    border-radius: 10px;
    border: 2px solid black;
    box-shadow: 0 0 12px var(--sanseer-journals-image-shadow);
}

.sanseer-journals .journal-image-margin-places {
    margin-left: 0.25rem;
    margin-top: 1rem;
}

.sanseer-journals .journal-image-circle {
    border: 0;
    filter: drop-shadow(0 0 8px #000);
}

.sanseer-journals .shadow-highlight {
    color: #f34d1f;
    text-shadow: 0 0 8px var(--sanseer-journals-text-shadow);
}

.sanseer-journals .journal-link {
    color: #bf2e0a;
}

.sanseer-journals a[href] {
    color: transparent;
    background: transparent;
}

.sanseer-journals a:hover {
    text-shadow: 0 0 8px var(--sanseer-journals-template-header-color);
}

.sanseer-journals a.entity-link.broken:hover {
    text-shadow: 0 0 8px var(--sanseer-journals-black);
}

.sanseer-journals a.entity-link,
.sanseer-journals a.content-link {
    background: transparent;
    border: 0;
    white-space: nowrap;
    word-break: break-all;
    color: var(--sanseer-journals-template-header-color);
    margin-left: -5px;
}

.sanseer-journals a.entity-link i::before,
.sanseer-journals a.content-link i::before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: '\f518';
    color: #d29f28;
    padding: 0 1px 0 0;
    margin-left: 0.3rem;
}

.sanseer-journals a.entity-link.broken,
.sanseer-journals a.content-link.broken {
    background: rgba(255, 0, 0, 0.05);
    border: 1px dashed red;
    margin: 0;
}

.sanseer-journals a.entity-link.broken i::before,
.sanseer-journals a.content-link.broken i::before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: '\f0c1';
    color: red;
    padding: 0 1px 0 0;
}

.sanseer-journals div.highlight {
    background: rgba(0, 0, 0, 0.4);
    border: 1px solid #191813;
    border-radius: 5px;
    color: #e4e2d1 !important;
    margin: 0.5em auto 0.5em auto;
    padding: 0.5em 1em;
    text-shadow: 1px 1px 3px #000;
}

.sanseer-journals div.highlight::before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    margin-right: 0.5em;
}

.sanseer-journals .highlight.information {
    background: rgba(47, 80, 132, 0.5);
    border: 1px solid var(--sanseer-journals-folder-select-bg-color) !important;
}

.sanseer-journals .highlight.information::before {
    content: "\f05a";
    padding: 0 5px 0 0;
}

.sanseer-journals div.highlight.warning {
    background: rgba(214, 150, 0, 0.5);
    border: 1px solid var(--sanseer-journals-button-hover-color) !important;
}

.sanseer-journals div.highlight.warning::before {
    content: "\f071";
    padding: 0 5px 0 0;
}

.sanseer-journals div.highlight.error {
    background: rgba(105, 0, 8, 0.5);
    border: 1px solid #b85a5d !important;
}

.sanseer-journals div.highlight.error::before {
    content: "\f06a";
    padding: 0 5px 0 0;
}

.sanseer-journals div.highlight.dark {
    border: 1px solid rgba(192, 192, 192, 0.5) !important;
}

.sanseer-journals div.highlight.dark::before {
    content: "\f6cf";
    padding: 0 5px 0 0;
    color: #bf2e0a
}

.sanseer-journals figure.right {
    clear: right;
    float: right;
    max-width: 30%;
    margin: 0 0 10px 10px;
}

.sanseer-journals figure.left {
    clear: left;
    float: left;
    max-width: 30%;
    margin: 0 0 10px 10px;
}

/* Background  styling of journal dialog */

.sanseer-journals .window-content {
    background: var(--sanseer-journals-background-texture-image);
}

.sanseer-journals button {
    color: white;
    background: rgba(214, 150, 0, 0.5);
    border: 1px solid var(--sanseer-journals-button-hover-color);
    margin: 5rem;
    width: calc(100% - 10rem);
    text-shadow: 1px 1px 3px var(--sanseer-journals-black);
}

.sanseer-journals button:hover {
    box-shadow: 0 0 10px var(--sanseer-journals-button-hover-color);
}

.sanseer-journals .window-content select[name="folder"] {
    background: var(--sanseer-journals-template-header-color);
    box-shadow: inset 0 0 10px var(--sanseer-journals-black);
    font-family: Tiamat;
    font-size: 22px;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.4);
    color: var(--sanseer-journals-header-text-color);
}

.sanseer-journals .window-content input[type="text"] {
    background: var(--sanseer-journals-template-header-color);
    box-shadow: inset 0 0 10px var(--sanseer-journals-black);
    text-shadow: 1px 1px 3px var(--sanseer-journals-black);
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.4);
    color: var(--sanseer-journals-header-text-color);
    font-family: Signika;
}

.sanseer-journals .window-content input[type="text"]:focus,
.sanseer-journals .window-content input[type="text"]:hover {
    box-shadow: 0 0 5px var(--sanseer-journals-template-header-color);
}

.sanseer-journals .editor .tox-edit-area {
    background-color: var(--sanseer-journals-template-header-color);
    box-shadow: inset 0 0 10px var(--sanseer-journals-black);
    color: var(--sanseer-journals-header-text-color);
    padding: 10px;
}

.sanseer-journals .editor .tox-editor-header .tox-toolbar__primary {
    background-color: var(--sanseer-journals-template-header-color);
    color: var(--sanseer-journals-header-text-color);
    padding: 10px;
}

.sanseer-journals .editor .tox-toolbar__group button {
    background: rgba(47, 80, 132, 0.5) !important;
    border: 1px solid var(--sanseer-journals-folder-select-bg-color) !important;
    margin: 0.25rem;
}

.sanseer-journals section.secret {
    color: var(--sanseer-journals-template-header-color);
    background-color: #df94ee20;
    padding: 10px;
    border-top-color: #f5cffd60;
    border-bottom-color: #f5cffd60;
}

.sanseer-journals section.secret::before {
    content: 'GAMESMASTER ONLY';
    border: solid 1px orange;
    border-radius: 2px;
    font-family: Tiamat;
    font-size: 16px;
    padding: 1px 3px 1px 3px;
    margin-bottom: 0.5em;
    color: #f92b0b;
    text-shadow: 1px 1px 1px #00000050;
    background: linear-gradient(to bottom, #e32f0b 38%, #e08216 55%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.sanseer-journals div .grid-container {
    display: inline-grid;
    grid-template-columns: repeat(4, 25%);
    grid-template-rows: auto;
    row-gap: 20px;
    column-gap: 10px;
    justify-items: center;
    margin: 0.25rem 0;
    width: 95% !important;
}

.sanseer-journals div.macro {
    position: relative;
    width: 50px;
    height: 50px;
    border: 1px solid #000;
    border-radius: 2px;
    background: rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 5px #000 inset;
    cursor: pointer;
}

.sanseer-journals .macro.inactive {
    box-shadow: 0 0 5px #444 inset;
}

.sanseer-journals .macro:hover {
    box-shadow: 0 0 10px var(--sanseer-journals-color-shadow-highlight) inset;
}

.sanseer-journals span[data-tool-tip] {
    position: relative;
}

.sanseer-journals span[data-tool-tip]::before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: '\f15c';
    color: #d29f28;
    padding: 0 8px 0 0;
}

.sanseer-journals span[data-tool-tip]::after {
    content: attr(data-tool-tip);
    display: block;
    position: absolute;
    padding: 5px;
    background: var(--sanseer-hournals-tooltip-background);
    color: var(--sanseer-journals-template-header-color);
    border-radius: 5px;
    font-size: 1em;
    white-space: nowrap;
    bottom: 0;
    left: 0;
    transform: scale(0);
    transition:
        transform ease-out 500ms,
        bottom ease-out 500ms;

}

.sanseer-journals span[data-tool-tip]:hover {
    cursor: pointer;
}

.sanseer-journals span[data-tool-tip]:hover::after {
    transform: scale(1);
    bottom: 101%;
}

.sanseer-journals .diamond {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 2;
    width: 25px;
    height: 25px;
    border-radius: 5px;
    border: 1px solid #fff;
    box-shadow: 1px 1px 0 rgba(0, 0, 0, 0.2);
    background-image: linear-gradient(to top left, #ddd 0%, #fff 100%);
    text-align: center;
    transform-origin: center;
    transform: rotateZ(45deg);
    transition: box-shadow 250ms, transform 250ms;
    margin-left: 1rem;
}

.sanseer-journals .diamond p {
    font-weight: bold;
    transform: rotateZ(-45deg);
}

.sanseer-journals .journal-hint {
    position: relative;
    color: var(--sanseer-journals-template-header-color);
}

.sanseer-journals .journal-hint::before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: '\f15c';
    color: #d29f28;
    padding: 0 8px 0 0;
}

.sanseer-journals .tooltip {
    position: absolute;
    z-index: 1;
    padding: 0.25rem 1rem;
    border-radius: 5px;
    background: var(--sanseer-hournals-tooltip-background);
    opacity: 0;
    color: #cedfe9;
    font-size: 0.875rem;
    transition: opacity 500ms, transform 500ms;
    top: -10px;
}

.sanseer-journals .tooltip:before {
    content: '';
    position: absolute;
    bottom: -9px;
    left: calc(50% - 10px);
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid var(--sanseer-hournals-tooltip-background);
}

.sanseer-journals .journal-hint:hover .tooltip,
.sanseer-journals .journal-hint:focus .tooltip {
    opacity: 1;
    transform: translateY(-20px);
}

/* Angels of Equilibrium */

.sanseer-journals .balance {
    background: rgba(0, 0, 0, 0.4);
    border: 1px solid #6e6d68;
    border-radius: 5px;
    color: #e4e2d1;
    margin: 0.5em auto 0.5em auto;
    padding: 0.5em 1em;
    text-shadow: 1px 1px 1px #000;
}

.sanseer-journals .balance::before,
.sanseer-journals .balance::after {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    margin-right: 0.5em;
}

.sanseer-journals .balance.anodyne {
    border: 1px solid #ffffff70;
    box-shadow: 1px 1px 0 rgba(0, 0, 0, 0.2);
    background-image: linear-gradient(to top left, #00000070 0%, #ffffff25 100%);
}

.sanseer-journals .balance.anodyne::before {
    content: "\f24e";
    padding: 0 5px 0 0;
    text-shadow: 1px 1px 5px #ffffff50;
}

.sanseer-journals .balance.anodyne::after {
    content: "\f228";
    font-size: 1.1rem;
    padding: 0 0 0 5px;
    text-shadow: 1px 1px 5px #00000040;
    float: right;
}

.sanseer-journals .balance.virtue {
    border: 1px solid #04d50480;
    box-shadow: 1px 1px 0 rgba(0, 0, 0, 0.2);
    background-image: linear-gradient(to top left, #00990040 0%, #04f70450 100%);
}

.sanseer-journals .balance.virtue::before {
    content: "\f516";
    padding: 0 5px 0 0;
    text-shadow: 1px 1px 5px #000;
}

.sanseer-journals .balance.virtue::after {
    content: "\f22a";
    font-size: 1.1rem;
    padding: 0 0 0 5px;
    text-shadow: 1px 1px 5px #00000040;
    float: right;
}

.sanseer-journals .balance.dread {
    border: 1px solid #FC979780;
    box-shadow: 1px 1px 0 rgba(0, 0, 0, 0.2);
    background-image: linear-gradient(to top left, #99000040 0%, #f5010150 100%);
}

.sanseer-journals .balance.dread::before {
    content: "\f515";
    padding: 0 5px 0 0;
    text-shadow: 1px 1px 5px #000;
}

.sanseer-journals .balance.dread::after {
    content: "\f221";
    font-size: 1.1rem;
    padding: 0 0 0 5px;
    text-shadow: 1px 1px 5px #00000040;
    float: right;
}

.sanseer-journals .balance.dragon {
    border: 1px solid #ebb03d80;
    box-shadow: 1px 1px 0 rgba(0, 0, 0, 0.2);
    background-image: linear-gradient(to top left, #bb3d1d40 0%, #ff542950 100%);
}

.sanseer-journals .balance.dragon::before {
    content: "\f6d5";
    padding: 0 5px 0 0;
    text-shadow: 1px 1px 5px #000;
}

.sanseer-journals .balance.dragon::after {
    content: "\f229";
    font-size: 1.1rem;
    padding: 0 0 0 5px;
    text-shadow: 1px 1px 5px #00000040;
    float: right;
}

.sanseer-journals .balance.moon {
    color: #000000;
    border: 1px solid #fff;
    box-shadow: 1px 1px 0 rgba(0, 0, 0, 0.2);
    background-image: linear-gradient(to top left, #b6b6b660 0%, #fff 100%);
    text-shadow: 1px 1px 1px #00000050;
}

.sanseer-journals .balance.moon::before {
    content: "\f186";
    padding: 0 5px 0 0;
    color: #000000;
    text-shadow: 1px 1px 5px #000;
}

.sanseer-journals .balance.moon::after {
    content: "\f223";
    font-size: 1.1rem;
    padding: 0 0 0 5px;
    color: #000000;
    text-shadow: 1px 1px 5px #00000040;
    float: right;
}

.sanseer-journals .balance.sun {
    color: #000000;
    border: 1px solid #f9da12;
    box-shadow: 1px 1px 0 rgba(0, 0, 0, 0.2);
    background-image: linear-gradient(to top left, #c6b12860 0%, #FAEE9D80 100%);
    text-shadow: 1px 1px 1px #00000060;
}

.sanseer-journals .balance.sun::before {
    content: "\f185";
    font-size: 1.1rem;
    padding: 0 5px 0 0;
    color: #F2D05F;
    text-shadow: 1px 1px 5px #00000050;
}

.sanseer-journals .balance.sun::after {
    content: "\f223";
    font-size: 1.1rem;
    padding: 0 0 0 5px;
    color: #000000;
    text-shadow: 1px 1px 5px #00000040;
    float: right;
}
